<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/Costa.css" />
    <link rel="icon" href="img/1.png" />
    <title>Costa</title>
  </head>

  <body>
    <header class="cabecera">
      <div class="logo">
        <a href="index.html" class="logo"
          ><img src="img/1.png" width="70" height="70" alt="LOGO EC"
        /></a>
      </div>
    </header>

    <header class="cabecera1">
      <div>
        <center>
        <nav class="navegacion1">
          <ul>
            <li><a href="Costa.html">Costa</a></li>
            <li><a href="Sierra.html">Sierra</a></li>
            <li><a href="Oriente.html">Oriente</a></li>
            <li><a href="Galapagos.html">Galapagos</a></li>
          </ul>
        </nav>
        </center>
      </div>
    </header>
    <section>
      <h1 class="titulo">Costa ecuatoriana</h1>
      <p>
        La costa ecuatoriana forma parte de las cuatro áreas o
        regiones principales del país. Se encuentra al oeste,
        entre las sierras andinas y el océano pacífico. En esta
        región están ubicadas siete provincias que son importantes
        para la economía de Educador. En ellas se desarrolla el
        turismo, la agricultura, la actividad pesquera y portuaria,
        la industria y muchas otras. Estas provincias son: Esmeraldas,
        Manabí, Santa Elena, Los Ríos, Guayas, Santo Domingo de los Tsáchilas
        y El Oro.
      </p>
      <center>
      <div class="EC">
        <img src="img/Costa.jpg" width="600" height="300" alt="Costa" />
      </div>
      </center>
      <p>
        La costa de Ecuador es una mezcla preciosa de manglares verdes,
        una mágica selva, aguas claras como en la Playa Los Frailes,
        impresionantes playas de arena blanca y muchos pequeños pueblos pesqueros.
        La línea costera ecuatoriana tiene una cocina excelente, y es el principal
        proveedor de productos del mar en el país. Playas como Los Frailes, Atacames,
        Salinas, Montañita, y otros maravillosos lugares.
      </p>
      <center>
      <div class="EC">
        <img src="img/Playa.jpg" width="600" height="300" alt="EC" />
      </div>
      </center>
    </section>
    <footer class="pie">
        Diseñado por CS y PB -  DERECHOS RESERVADOS
    </footer>
  </body>
</html>